<br>
<div class="container">
    <strong><h3 style="font-family:Georgia;">Describe Yourself...</h3></strong>
</div>
<br>
<div class="container">
    <div class="row">
    <div class="col-auto">
      <div class="card z-depth-5">
        <div class="card-content">
          <span class="card-title" style="font-family:Trebuchet MS;">Tell Us What You Are.</span>
          <div class="row">
            <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                <i class="material-icons prefix">touch_app</i>
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">Textarea</label>
                </div>
            </div>
            </form>
        </div>
        <span class="card-title" style="font-family:Trebuchet MS;">Tell Us What You Do.</span>
        <div class="row">
            <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                <i class="material-icons prefix">touch_app</i>
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">Textarea</label>
                </div>
            </div>
            </form>
        </div>
        <div class="row">

          <span class="card-title" style="font-family:Trebuchet MS;">What's Your Genre</span>
            <div class="input-field col s12">
          <p><label><input type="checkbox" name="tech" value="Technology"><span>Technology</span></label></p>
          <p><label><input type="checkbox" name="spiritual" value="Spiritual"><span>Sppiritual</span></label></p>
          <p><label><input type="checkbox" name="electronics" value="Electronics"><span>Electronics</span><br></label></p>
          <p><label><input type="checkbox" name="mech" value="Mechanical"><span>Mechanical</span><br></label></p>
          <p><label><input type="checkbox" name="history" value="History"><span>History</span><br></label></p>
          <p><label><input type="checkbox" name="geography" value="Geography"><span>Geography</span></label></p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{# if imageFile }}
  <div class="container">
    <div class="row">
    <div class="col-auto">
      <div class="card z-depth-5">
        <div class="card-image">
          <img src="{{ imageFile }}" class="responsive-img">
          
        </div>
        <div class="card-content">
          <center><span class="card-title">Profile Pic</span></center>
          
        </div>
        
      </div>
    </div>
  </div>
  </div>
{{/ if}}
<div class="card z-depth-5">
          <div class="card-content">
              <div class="row">      
                <form action="/users/profileInfo" method="POST" enctype="multipart/form-data">
                  <div class="file-field input-field">
                    <div class="btn red waves-effect waves-light z-depth-4">
                      <span>Select Profile Picture</span>
                      <input name="profilePic" type="file">
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text">
                    </div>
                  </div>
                  <center><button type="submit" class="btn purple waves-effect waves-light z-depth-4">Update</button></center>
                </form>
                <br>
                
              </div>
              </div>
              </div>
              </div>
              

<div class="container">
  <h2>{{ user.firstName}} 's Profile</h2>
</div>

<div class="row ">
         
                
          <form  method="POST" enctype="multipart/form-data" action="/users/profileInfo/5bb9fedce8533529f4c08582/edit" class="col s12 l9 offset-l1">
          <input type="hidden" name="_method" value="PUT">
          <div class="card z-depth-5">
          <div class="card-content">
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">person</i>
                <input id="fname" maxlength="15" data-length="15" name="firstName" type="text" class="validate">
                <label for="fname">First Name</label>
              </div>
              <div class="input-field col s6">
                <input id="lname" maxlength="15" data-length="15" name="lastName" type="text" class="validate">
                <label for="lname">Last Name</label>
              </div>
            </div>
              <div class="row">
            <div class="input-field col-auto">
              <i class="material-icons prefix">sd_storage</i>
              <input id="mobileNumber" maxlength="13" data-length="13" name="mobileNumber" type="text" class="validate" value="{{user.mobileNumber}}">
              <label for="mobileNumber">Mobile</label>
            </div>
          </div>
              </div>
              </div>
            

            <div class="container"><br><br>
              <button type="submit" class="btn blue waves-effect waves-light z-depth-4">Update</button>
            </div>
            
            
           
         </form>
       </div>